img.avatar {
  border-radius: 50%;
  margin-bottom: 10px;
}
.userName {
  text-align: center;
}
.container {
  text-align: center;
}
.passWord {
  text-align: -webkit-right;
  margin-bottom: 10px;
  font:inherit;
}
button {
  margin-left: 100px;
  margin-bottom: 10px;
}
span.psw {
  color: black;
}
label {
  text-align-last: center;
  color:black;
}
.w3-display-middle {
  color: black;
}
.w3-display-topleft.w3-padding-large.w3-xlarge {
  color: black;
}
.signBtn {
  text-align: -webkit-center;
}
.passwordFld {
  margin-right: 35px;
}
.rptPsw {
  margin-right: 105px;
}
.forgot {
  padding-top: 875px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: -webkit-center;
}
.forgotBtns {
  text-align: -webkit-center;
}
body {
  background-size: cover;
}
.bgimg.w3-display-container.w3-animate-opacity.w3-text-white {
  text-align-last: center;
}
form.w3-container.w3-card-4.w3-padding-16.w3-white {
  -webkit-user-modify: read-only;
}
