img.avatar {
  border-radius: 50%;
  margin-bottom: 10px;
}
.userName {
  text-align: center;
}
.container {
  text-align: center;
}
.passWord {
  text-align: -webkit-right;
  margin-bottom: 10px;
}
button {
  margin-left: 100px;
  margin-bottom: 10px;
}
span.psw {
  color: black;
}
label {
  text-align-last: center;
  color:black;
}
.w3-display-middle {
  color: black;
}
.w3-display-topleft.w3-padding-large.w3-xlarge {
  color: black;
}
.signBtn {
  text-align: -webkit-center;
}

.rptPsw {
  margin-right: 105px;
}
.forgot {
  padding-top: 875px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: -webkit-center;
}
.forgotBtns {
  text-align: -webkit-center;
}
body {
  background-size: cover;
}
.bgimg.w3-display-container.w3-animate-opacity.w3-text-white {
  text-align-last: center;
}
form.w3-container.w3-card-4.w3-padding-16.w3-white {
  -webkit-user-modify: read-only;
}
.w3-display-middle {
  color: cornsilk;
}
label {
  color: cornsilk;
}
button {
  height: 75px;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  color: red;
  background-color: black;
   height: -webkit-fill-available;

}
input[type="text"] {
 
  display: -webkit-box;
  margin-left: auto;
   margin-right: auto;
   height: 40px;
   width: 280px;
   font-size: 20px;
   text-align-last: center;
}

.container {
  margin-top: 50px;
  
}
h2.loginForm {
  margin-top: 50px;
}
h2 {
  text-align-last: center;
  color: cornsilk;
}
h3 {
  color: cornsilk;
}
h1 {
  color: cornsilk;
}
